/*Custom CSS used on top of KabirKwata's Dracula Theme for BetterDiscord
  For a real dark mode experience
*/
    
:root {
    /*For custom fonts*/
    --Chat-Font-Used: 'Slate For OnePlus Light',Light;
    /* Dracula Colors */
    --dracula-background: #090909 !important;
    --dracula-current-line: #000000 !important;
    --dracula-selection: #272727 !important;
    --dracula-foreground: #f8f8f2 !important;
    --dracula-comment: #101010 !important;
    --dracula-cyan: #8b8dfd !important;
    --dracula-green: #40bd5f !important;
    --dracula-orange: #dd9649 !important;
    --dracula-pink: #ff79c6 !important;
    --dracula-purple: #9070bd !important;
    --dracula-red: #ff5555 !important;
    --dracula-yellow: #f1fa8c !important;
    /* Discord Root Colors */
    --background-primary: var(--dracula-background) !important;
    --background-secondary: rgb(20,20,20) !important;
    --background-secondary-alt: var(--dracula-background) !important;
    --background-tertiary: var(--dracula-background) !important;
    --background-accent: var(--dracula-current-line) !important;
    --background-floating: var(--dracula-background) !important;
    --background-modifier-accent: rgb(0,0,0)!important;/*test*/
    --activity-card-background: var(--dracula-background) !important;
    --interactive-normal: var(--dracula-foreground) !important;
    --channeltextarea-background: var(--dracula-selection) !important;
    --rs-online-color: var(--dracula-green) !important;
    --rs-idle-color: var(--dracula-orange) !important;
    --rs-dnd-color: var(--dracula-red) !important;
    --rs-offline-color: var(--dracula-selection) !important;
    --rs-streaming-color: var(--dracula-purple) !important;
    --rs-invisible-color: var(--dracula-comment) !important;
    --interactive-muted: var(--dracula-comment) !important;
    --scrollbar-auto-track: rgb(15,15,15) !important;
}
    
.da-acronym {
  --background-primary: var(--dracula-selection) !important;
}
    
.da-repliedMessage {
    --background-accent: var(--dracula-selection) !important;
}
    
.container-1D34oG.da-container {
    background-color: var(--dracula-background) !important;
}
    
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--dracula-comment) !important
}
    
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: var(--dracula-selection) !important;
    border: 4px solid var(--dracula-background) !important;
    border-radius: 8px !important;
}

:not([class="hljs"]):not(code){
    font-family: var(--Chat-Font-Used)!important;
}

.autocomplete-1vrmpx{background-color:#151515}.theme-dark .selected-1Tbx07{background-color:#000000}.theme-dark .contentTitle-2tG_sM strong{color:#fff}
.autocompleteRowVerticalSmall-1bvn6e .base-1pYU8j{padding:4px 8px}.theme-dark .autocomplete-1vrmpx{background-color:#000000}.theme-dark .selected-1Tbx07{background-color:#151515}.theme-dark .contentTitle-2tG_sM strong{color:#fff}
    
.theme-dark .uploadModal-2ifh8j{background-color:#000000;-webkit-box-shadow:0 0 0 1px rgba(32,34,37,.6),0 2px 10px 0 rgba(0,0,0,.2);box-shadow:0 0 0 1px rgba(32,34,37,.6),0 2px 10px 0 rgba(0,0,0,.2)}
.theme-dark .footer-3mqk7D{background-color:#151515;-webkit-box-shadow:inset 0 1px 0 rgba(47,49,54,.6);box-shadow:inset 0 1px 0 rgba(47,49,54,.6)}
.theme-dark .footer-1fjuF6{background-color:#000000;color:hsla(0,0%,100%,.8)}
.theme-dark .body-3iLsc4{background-color:#000000;color:hsla(0,0%,100%,.8)}
.theme-dark .headerNormal-T_seeN{background-color:#000000}
.theme-dark .root-1gCeng{background-color:#000000;-webkit-box-shadow:0 0 0 1px rgba(32,34,37,.6),0 2px 10px 0 rgba(0,0,0,.2);box-shadow:0 0 0 1px rgba(32,34,37,.6),0 2px 10px 0 rgba(0,0,0,.2)}
.theme-dark .searchSuggestion-2K8OBX.searchSuggestion-2K8OBX:hover{color:#fff;background-color:#151515;border-color:#7289da}.theme-dark .emptyHintCard-2mUdMe{background-color:#36393f;color:#b9bbbe}
.reaction-1hd86g.reactionMe-wv5HKu{background-color:rgba(170,170,170,0.2)}
.reaction-1hd86g:hover{background-color:rgba(170,170,170,0.3)}
.reactionMe-wv5HKu .reactionCount-2mvXRV,.reactionMe-wv5HKu:hover .reactionCount-2mvXRV{color:rgb(200,200,200); background-color: :rgba(150,150,150,0.2)}
.wrapper-3WhCwL{border-radius:3px;padding:0 2px;font-weight:500;unicode-bidi:-moz-plaintext;unicode-bidi:plaintext;color:#ebecf0;background:rgba(228, 231, 238, 0.1);position:relative}.interactive{-webkit-transition:background-color 50ms ease-out,color 50ms ease-out;transition:background-color 50ms ease-out,color 50ms ease-out;cursor:pointer}.interactive:hover{color:rgb(124, 124, 124);background-color:#dddddd}
.botTagRegular-2HEhHi{background:#252525;color:#fdfdfd}
.headerPlaying-j0WQBV{background:#14204d}
.newMessagesBar-265mhP{top:0;border-radius:0 0 8px 8px;background-color:#14204d;-webkit-box-shadow:var(--elevation-low);box-shadow:var(--elevation-low)}
.lookFilled-1Gx00P.colorBrand-3pXr91{color:#fff;background-color:#14204d}